<th class="px-2 py-4 text-gray-900 whitespace-nowrap text-center font-bold">{{index}}</th>
<td class="px-2 py-4 text-center">{{movie.title}}</td>
<td class="px-2 py-4 text-center">{{movie.description}}</td>
<td class="px-2 py-4 text-center">{{movie.releaseDate}}</td>
<td class="px-2 py-4 text-center">{{movie.actorCount}}</td>
<td class="px-2 py-4">
    <div class="flex align-middle justify-evenly text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
            class="hover: cursor-pointer" (click)="like(movie.movieid)">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
        </svg>
        {{movie.upvotes}}
    </div>
</td>
<td class="px-2 py-4">
    <div class="flex align-middle justify-evenly text-center">
        <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-heartbreak-fill" class="hover: cursor-pointer" (click)="dislike(movie.movieid)"
            viewBox="0 0 16 16">
            <path
                d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z" />
        </svg>
        {{movie.downvotes}}
    </div>
</td>